.App {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.App h1 {
  text-align: center;
  margin: 10px 0;
}

.App p {
  margin: 10px 0;
  
}

.showCom {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.showName {
  font-weight: bold;
}

.textFlex {
  display: flex;
  height: 100%;
  margin: 20px auto;
  position: relative;
}

.textFlex p {
  margin: 0;
  padding: 0.5em 1em;
  color: black;/*文字色*/
  background: #00FF00;
  border: solid 3px #00FF00;/*線*/
  border-radius: 10px;/*角の丸み*/
  width: 90%;
  flex: 9;
}

.textFlex a {
  flex: 1;
  display: block;
  padding: 5px;
  position: absolute;
	right: 0;
	bottom: 0;
}


.bottomLine {
  background-color: black;
  width: 110.8%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 2;
}

.newMes {
  margin: 0 auto;
  width: 100%;
}

#inputName {
  margin-bottom: 30px;
  width: 80px; 
  padding: 10px 15px; 
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

.newT {
  display: flex;
  justify-content:space-between;
}

.newT textarea {
  margin-bottom: 30px;
  width: 85%; 
  padding: 10px 15px; 
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  height: 40px;
}


.newT input {
  width: 10%; 
  height: 40px;
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  transition: 1s;
}

.newT input:hover {
  background-color: #00FF00;
  font-size: 16px;
  border-radius: 5px;
}

